*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: #ffe3e9;
}

img {
  max-width: 100%;
  display: block;
}
